.main{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(
        0deg,
        var(--quinary-color) 1%,
        var(--quinary-color) 50%,
        var(--secondary-color) 100%
    );
    overflow: hidden
}

.title{
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.subtitle{
    font-family: var(--secondary-font);
    color: var(--tertiary-color);
    font: 700 clamp(1rem, 5vw, 3rem) var(--secondary-font);
    padding: 0 1rem;
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.aboutContent {
    margin: 0 auto;
    width: 50%;
    color: var(--secondary-color);
    font: 400 clamp(1rem, 5vw, 2rem) var(--secondary-font);
    text-align: center;
}
