@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Mrs+Sheppards&display=swap');


:root{
  --primary-color: #050a30;
  --secondary-color: #4a4e69;
  --tertiary-color: #9a8c98;
  --quaternary-color: #c9ada7;
  --quinary-color: #f2e9e4;
  --primary-font: 'Orbitron', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --tertiary-font: 'Carattere', cursive;
  --border-radius: 1rem;

}


body{
  scroll-behavior: smooth;

  background: 
  
  linear-gradient(135deg, var(--primary-color) 1%, var(--secondary-color) 50%, var(--quinary-color) 100%);
  background-attachment: fixed;
  background-size: 200% 200%;
  margin: 0;
  padding: 0; 
}






 body::-webkit-scrollbar {
    display: none;

  }
  html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
  } 

