@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400..900&display=swap');

@tailwind utilities;
@import "tailwindcss/preflight";
@tailwind utilities;

:root{
  --primary-color: #050a30;
  --secondary-color: #4a4e69;
  --tertiary-color: #9a8c98;
  --quaternary-color: #c9ada7;
  --quinary-color: #f2e9e4;
  --primary-font: 'Orbitron', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --border-radius: 1rem;

}


body{
    overflow: hidden;
    scroll-behavior: smooth;  
    background: linear-gradient(
        135deg,
        var(--primary-color) 10%,    /* #050a30 - Deep navy */
        var(--secondary-color) 50%,   /* #9a8c98 - Soft gray-purple */
        var(--quinary-color) 100%    /* #f2e9e4 - Light beige */
      );
    margin: 0;
    padding: 0; 
}





 body::-webkit-scrollbar {
    display: none;

  }
  html {
    scrollbar-gutter: stable;
  } 

