.loader {
  width: 100vw;
  height: 100vh;
  background: var(--primary-color);
  display: grid;
  place-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--primary-color);
  padding: 4rem 7rem;

  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


}

.loadingLogo {
  width: 15rem;
  height: 15rem;
  animation: fadeInandOut 0.7s infinite alternate ease-in-out;
  position: absolute;
  top: 45%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.progressBarContainer {
  width: 15rem;   
  height: 0.5rem;
  background: var(--primaey-color);
  border-radius: 10px;
}

.progressBar {
  height: 100%;
  background: var(--quinary-color);
  border-radius: 10px;
  transition: width 0.1s ease-in-out;
}


@keyframes fadeInandOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 768px) {
  .loadingContainer {
    padding: 2rem;
    gap: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .loadingLogo {
    width: 6rem;
    height: 10rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  .progressBarContainer {
    width: 10rem;
  }
}