
.main {
  padding-top: 10vh;
  position: relative;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(
        135deg,
        var(--quinary-color) 1%,
        var(--quinary-color) 50%,
        var(--secondary-color) 100%
    );
  }
  
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  
  .heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 100% var(--primary-font);
    color: var(--primary-color);
  }
  
  .heroTitle {
    font-size: clamp(4rem, 10vw, 15rem);
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
    letter-spacing: 0.1rem;
    cursor: pointer;
    font-family: var(--primary-font);
  }

  .mLetter{
    color: var(--tertiary-color);
    font-family: var(--tertiary-font);
    font-size: clamp(4rem, 10vw, 15rem);
    font-weight: 700;
  }

  
  
  .heroSubtitle {
    font-size: clamp(1rem, 5vw, 1rem);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1rem;
    margin: 0.5rem 0;
    color: var(--primary-color);
  }


.slogan {
    margin-top: 1rem;
    font-size: clamp(1rem, 5vw, 2rem);
    width: 60%;
    color: var(--tertiary-color);
    text-shadow: 0 0 0.75rem rgba(124, 124, 124, 0.5);
    margin-bottom: 1rem;
}

 
@media (max-width: 768px) {
    .heroTitle {
      font-size: 3rem;
    }
  
    .heroSubtitle {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .heroTitle {
      font-size: 2.5rem;
    }
  
    .heroSubtitle {
      font-size: 1rem;
    }
  }
  

