.main{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.btncontainer{
    display: flex;
}

.schoolbtn{
    background-color: var(--secondary-color);
    color: var(--quinary-color);
    padding: 0.8rem;
    font-family: var(--primary-font);
    font-weight: 600;
    transition: all 0.3s ease;
}

.schoolbtnBlur {
    background-color: rgba(74, 78, 105, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}

.schoolbtnBlur:hover {
    background-color: var(--quinary-color);
    color: var(--secondary-color);
}

.btnLink{
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    transition: all 0.3s ease;
    display: flex;
}

.btnLink:hover{
    background-color: var(--quinary-color);
    color: var(--secondary-color);
}