.main{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.btncontainer{
    display: flex;
}

.schoolbtn{
    background-color: var(--secondary-color);
    color: var(--quinary-color);
    padding: 1.2rem;
    font-family: var(--primary-font);
    font-weight: 600;
}

.btnLink{
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    transition: all 0.3s ease;
}

.btnLink:hover{
    background-color: var(--quinary-color);
    color: var(--secondary-color);
}